In [1]:
# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

In [11]:
#jawaban soal No. 1

company_detail_list = [
    {'name': 'Company 1', 'domain': 'Retail', 'country': 'United States'},
    {'name': 'Company 2', 'domain': 'Technology', 'country': 'United Kingdom'},
    {'name': 'Company 3', 'domain': 'Healthcare', 'country': 'United States'}
]

# Mengurutkan perusahaan berdasarkan nama dalam urutan terbalik
sorted_companies = sorted(company_detail_list, key=lambda x: x['name'], reverse=True)
result = [{'name': company['name']} for company in sorted_companies]
print(result)

[{'name': 'Company 3'}, {'name': 'Company 2'}, {'name': 'Company 1'}]

In [12]:
#Jawaban Soal No.2

for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

In [13]:
#Jawaban Soal No.3

def group_employees_by_domain(employees, companies):
    result = {}
    for company in companies:
        result[company['domain']] = []
        for employee in employees:
            if employee['company'] == company['name']:
                result[company['domain']].append(employee['full_name'])
    return result

grouped_employees = group_employees_by_domain(employee_detail_list, company_detail_list)
print(grouped_employees)

{'Retail': ['John Doe', 'Ying Han Tan', 'Robert White'], 'Technology': ['Tom Smith', 'Rubby Lee'], 'Healthcare': ['Andrew Sebastian', 'Kenneth Ng']}

In [14]:
#Jawaban Soal No. 4

def get_employees_with_country():
    employees_with_country = []
    
    for employee in employee_detail_list:
        country = next((c['country'] for c in company_detail_list if c['name'] == employee['company']), None)
        employees_with_country.append({
            "full_name": employee['full_name'],
            "company": employee['company'],
            "country": country
        })
    
    return employees_with_country

result = get_employees_with_country()
print(result)

[{'full_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Ying Han Tan', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Kenneth Ng', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Rubby Lee', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Robert White', 'company': 'Company 1', 'country': 'United States'}]

In [15]:
#Jawaban Soal No. 5

def get_company_employee_nationalities():
    company_nationalities = []
    
    for company in company_detail_list:
        nationality_count = {}
        
        for employee in employee_detail_list:
            if employee['company'] == company['name']:
                nationality = employee['nationality']
                if nationality in nationality_count:
                    nationality_count[nationality] += 1
                else:
                    nationality_count[nationality] = 1
        
        company_nationalities.append({
            "company": company['name'],
            "employee_nationality": nationality_count
        })
    
    return company_nationalities

result = get_company_employee_nationalities()
print(result)

[{'company': 'Company 1', 'employee_nationality': {'Australia': 2, 'United Kingdom': 1}}, {'company': 'Company 2', 'employee_nationality': {'United States': 1, 'Hong Kong': 1}}, {'company': 'Company 3', 'employee_nationality': {'United States': 2}}]